<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/mystyles.css') }}" />
    <title>GST Report</title>
  </head>
  <body>
    <div class="container pt-45">
        <div class="card">
            <div class="card-header header-title">
                TESTING
            </div>  
            <div class="card-body">
                <div class="d-flex justify-content-center upload-div">
                <h5 class="card-title "></h5>
                    <form id="tax_form" method="post" enctype="multipart/form-data">
                       <div class="form-group">
                            <label for="exampleInputEmail1" class="label-cls">Expense Sheet</label>
                            <input type="file" class="form-control-file input-cls" id="expense_sheet" name="expense_sheet" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                         <div class="form-group">
                            <label for="exampleInputEmail1" class="label-cls">GST Portal Sheet</label>
                            <input type="file" class="form-control-file input-cls" id="gst_sheet" name="gst_sheet" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                        <div class="form-group">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <div id="uploadStatus"></div>
                        </div>

                        <button type="submit"  class="btn btn-primary btn-sm btn-stl">Submit</button>
                       
                  </form>
                </div>

               


            </div>
        </div>

        <div id="responce">

        </div>

         <div id="responce-unmatched">

        </div>
       

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS  {# extension: "xls|csv|xlsx" #} -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        $(document).ready(function() {
           /* $("#test").click(function(){
                var formDate = new FormData();
                    var expense_sheet = $("#expense_sheet").prop("files")[0]; 
                    var gst_sheet = $("#gst_sheet").prop("files")[0]; 
                    formDate.append("expense_sheet", expense_sheet); 
                    formDate.append("gst_sheet", gst_sheet); 
                     $.ajax({
                            url: '/call/upload/spreadsheet',	
                            type: 'POST',
                            data : formDate,
                            processData: false,
                            contentType: false,
                            beforeSend: function() 
                            {
                                console.log('loading');
                            },
                            success: function(response) 
                            {
                                console.log(data);
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert("Error"); 
                            }
                        });
            }); */

            $("#tax_form").validate({
                ignore: [],
                rules: { 
                        expense_sheet:  { required: true},
                        gst_sheet: { required: true}
                    },
                messages: { 
                        expense_sheet:{required:"Please upload any Expense sheet"},
                        gst_sheet:{required:"Please upload any Expense sheet"},
                    },
                submitHandler: function (form) 
                {
                    var formDate = new FormData();
                    var expense_sheet = $("#expense_sheet").prop("files")[0]; 
                    var gst_sheet = $("#gst_sheet").prop("files")[0]; 
                    formDate.append("expense_sheet", expense_sheet); 
                    formDate.append("gst_sheet", gst_sheet); 
                    $(".progress").show();
                     $.ajax({
                             xhr: function() {
                                var xhr = new window.XMLHttpRequest();
                                xhr.upload.addEventListener("progress", function(evt) {
                                    if (evt.lengthComputable) {
                                        var percentComplete = ((evt.loaded / evt.total) * 100);
                                        $(".progress-bar").width(percentComplete + '%');
                                        $(".progress-bar").html(percentComplete+'%');
                                    }
                                }, false);
                                return xhr;
                            },
                            url: '/call/remove/duplicate/record',	
                            type: 'POST',
                            data : formDate,
                            processData: false,
                            contentType: false,
                            beforeSend: function(){
                                $(".progress-bar").width('0%');
                                $('#uploadStatus').html('<img src="{{ asset('images/loading.gif') }}"/>');
                            },
                            error:function(){
                                $('#uploadStatus').html('<p style="color:#EA4335;">File upload failed, please try again.</p>');
                            },
                            success: function(response) 
                            {   
                                console.log(response);
                                var obj = $.parseJSON(JSON.stringify(response));
                                if(obj.resp == "ok"){
                                    $('#uploadStatus').html('<p style="color:#28A74B;">File has uploaded successfully!</p>');
                                    $('#uploadStatus').append('<p style="color:#28A74B;">File Compare is Started..</p>');
                                   
                                    $("#responce").html('<h3 class="res-title"> Matched Records </h3>');
                                    $("#responce").append('<table class="table table-bordered" id="matched">');
                                    $.map(obj.result.Matched, function(data, index) { 
                                       console.log(data.Retail);
                                            var tableIndex = 0;
                                            $("#matched").append("<thead id='rh_matched"+index+"'></thead>");
                                            $("#matched").append("<tr id='rd_index"+index+"'></tr>");
                                            $.map(data.Retail, function(item, i) { 
                                                console.log(i+"---"+item);
                                                $("#rh_matched"+index).append("<th>"+i+"</th>");
                                                $("#rd_index"+index).append("<td>"+item+"</td>");
                                                
                                            });
                                            $("#rh_matched"+index).append("<th class='separation'></th>");
                                            $("#rd_index"+index).append("<td class='separation'></td>");

                                             $.map(data.GST, function(gstitem, j) { 
                                                $("#rh_matched"+index).append("<th>"+j+"</th>");
                                                $("#rd_index"+index).append("<td>"+gstitem+"</td>");
                                                
                                            });
                                    });




                                    $("#responce-unmatched").append('<h3 class="res-title"> Un-Matched Records </h3>');
                                    $("#responce-unmatched").append('<table class="table table-bordered" id="unmatched">');
                                    $.map(obj.result.Not_Matched, function(data1, index) { 
                                       console.log(data1.Retail);
                                            var tableIndex = 0;
                                            $("#unmatched").append("<thead id='retailhead"+index+"'></thead>");
                                            $("#unmatched").append("<tr id='retailindex"+index+"'></tr>");
                                            $.map(data1.Retail, function(item, i) { 
                                                if(index == 0){
                                                    $("#retailhead"+index).append("<th>"+i+"</th>");
                                                }
                                                $("#retailindex"+index).append("<td>"+item+"</td>");
                                                
                                            });
                                    });

                                } 
                            }
                            
                        });
                }
           }); 


        }); 
    </script>

  </body>
</html>