<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/mystyles.css') }}" />
    <title>GST Report</title>
  </head>
  <body>
    <div class="container pt-45">
        <div class="card">
            <div class="card-header header-title">
                GST EXCEL COMPARISON
            </div>  
            <div class="card-body">
                <div class="d-flex justify-content-center">
                <h5 class="card-title "></h5>
                    <form id="tax_form" method="post" enctype="multipart/form-data">
                       <div class="form-group">
                            <label for="exampleInputEmail1">Expense Sheet</label>
                            <input type="file" class="form-control-file" id="expense_sheet" name="expense_sheet" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                         <div class="form-group">
                            <label for="exampleInputEmail1">GST Portal Sheet</label>
                            <input type="file" class="form-control-file" id="gst_sheet" name="gst_sheet" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                        <button type="submit"  class="btn btn-primary btn-sm btn-stl">Submit</button>
                  </form>
                </div>
            </div>
        </div>
       

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS  {# extension: "xls|csv|xlsx" #} -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        $(document).ready(function() {
           /* $("#test").click(function(){
                var formDate = new FormData();
                    var expense_sheet = $("#expense_sheet").prop("files")[0]; 
                    var gst_sheet = $("#gst_sheet").prop("files")[0]; 
                    formDate.append("expense_sheet", expense_sheet); 
                    formDate.append("gst_sheet", gst_sheet); 
                     $.ajax({
                            url: '/call/upload/spreadsheet',	
                            type: 'POST',
                            data : formDate,
                            processData: false,
                            contentType: false,
                            beforeSend: function() 
                            {
                                console.log('loading');
                            },
                            success: function(response) 
                            {
                                console.log(data);
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert("Error"); 
                            }
                        });
            }); */

            $("#tax_form").validate({
                ignore: [],
                rules: { 
                        expense_sheet:  { required: true},
                        gst_sheet: { required: true}
                    },
                messages: { 
                        expense_sheet:{required:"Please upload any Expense sheet"},
                        gst_sheet:{required:"Please upload any Expense sheet"},
                    },
                submitHandler: function (form) 
                {
                    var formDate = new FormData();
                    var expense_sheet = $("#expense_sheet").prop("files")[0]; 
                    var gst_sheet = $("#gst_sheet").prop("files")[0]; 
                    formDate.append("expense_sheet", expense_sheet); 
                    formDate.append("gst_sheet", gst_sheet); 
                     $.ajax({
                            url: '/call/upload/spreadsheet',	
                            type: 'POST',
                            data : formDate,
                            processData: false,
                            contentType: false,
                            beforeSend: function() 
                            {
                                console.log('loading');
                            },
                            success: function(response) 
                            {
                                console.log(data);
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert("Error"); 
                            }
                        });
                }
           }); 


        }); 
    </script>

  </body>
</html>